<div class="text-center user_title">
  <% if current_user == @user %>
    <h1>マイページ</h1>
  <% else %>
    <h1>プロフィール</h1>
  <% end %>
</div>

<% if current_user == @user %>
  <div class="col-xs-12">
    <div class="col-md-2 col-md-offset-7">
      <div class="text-right">
        <%= link_to '編集する', edit_user_path %>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center">
  <div class="user_img">
    <%# アイコン画像　正方形　角丸 %>
    <% if @user.image.present? %>
      <%= image_tag @user.image.to_s, class: 'user_icon-md img-rounded', width: '130', height: '130' %>
    <% else %>
      <img class="user_icon img-rounded" src="../assets/f_f_object_115_s128_f_object_115_0bg.png">
    <% end %>
  </div>
  <div class="user_name">
    <h2><%= @user.name %></h2>
  </div>
</div>

<%# ユーザープロフィール %>
<% if @user.profile %>
  <div class="user_profile col-xs-12 col-md-8 col-md-offset-2">
  <p><%= simple_format(text_url_to_link(h(@user.profile).html_safe)) %></p>
  </div>
<% end %>

<div class="col-md-12">
  <div class="col-xs-6 col-md-3 col-md-offset-3">
    <div class="text-center">
      <h4><%= link_to 'フォロー', followings_user_path(@user) %></h4>
      <h4><%= link_to @user.followings.count, followings_user_path(@user) %></h4>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="text-center">
      <h4><%= link_to 'フォロワー', followers_user_path(@user) %></h4>
      <h4><%= link_to @user.followers.count, followers_user_path(@user) %></h4>
    </div>
  </div>
</div>


<div class="col-md-2 col-md-offset-5">
  <%= render 'user_relationships/follow_button', user: @user %>
</div>


<div>
  <% if current_user == @user %>
    <div class="user_tabs col-xs-12">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item col-xs-4">
          <a class="nav-link active" href="#participating_projects" data-toggle="tab">参加するプロジェクト <span class="badge"><%= @not_cancelled_paticipatings.length %></a>
        </li>
        <li class="nav-item col-xs-4">
          <a class="nav-link" href="#posted_projects">投稿したプロジェクト <span class="badge"><%= @user.projects.count %></span></a>
        </li>
        <li class="nav-item col-xs-4">
          <a class="nav-link" href="#liked_projects">いいねしたプロジェクト <span class="badge"><%= @user.likes.count %></span></a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="participating_projects" class="tab-pane active">
          <p><%= render 'projects/projects', projects: @not_cancelled_paticipatings.order(created_at: :DESC) %></p>
        </div>
        <div id="posted_projects" class="tab-pane">
          <%= render 'projects/projects', projects: current_user.projects.order(created_at: :DESC) %>
        </div>
        <div id="liked_projects" class="tab-pane">
          <%= render 'projects/projects', projects: current_user.likes.order(created_at: :DESC) %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="otheruser_posted_projects col-xs-12">
      <h4 class="col-md-12"><%= @user.name %>さんが投稿したプロジェクト</h4>
      <% if projects_url.present? %>
        <%= render 'projects/projects', projects: @user.projects %>
      <% end %>
    </div>
  <% end %>
</div>
