<div class="row university_projects">
    <div class="projects_type_header col-md-12">
        <div class="col-md-12">
            <h1>キーワード: "<%= params[:q][:title_or_content_cont] %>"を含むプロジェクト</h1>
        </div>
    </div>
</div>
<div class="row searched_projects">
    <div class="projects_type_header col-md-12">
        <% unless @searched_projects.count == 0 %>
            <div class="projects_type col-md-3">
                <h4>すべてのプロジェクト (<%= @searched_projects.count %>件)</h4>
            </div>
        <% end %>
    </div>
    <div class="project_type_body col-md-12">
        <% if @searched_projects.count == 0 %>
            <p class="col-md-12">"<%= params[:q][:title_or_content_cont] %>"を含むプロジェクトは見つかりませんでした</p>
        <% else %>
            <%= render 'projects/projects', projects: @searched_projects %>
            <%= paginate @searched_projects %>
        <% end %>
    </div>
</div>